.m-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(136, 136, 199);
    ul {
        display: flex;
        li {
            display: inline-block;
            width: 50px;
            line-height: 20px;
            font-size: 14px;
            text-align: center;
            border-right: 1px solid gray;
        }
    }
}