
.m-edit {
    background: url("../../assets/th.jpg") 0 0 no-repeat;
    background-size: 100% auto;
    // font-size: 14Px;
    overflow: hidden;
    &-hdl {
        margin: 160px auto auto 50px;
        width: 154px;
        // width: 1rem;
        height: 74px;
        background-color: green;
        opacity: .4;
    }
    &-test {
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
    }
    &-fixed {
        position: fixed;
        top: 0;
        right: 0;
        width: 100rem;
        height: 50PX;
        background-color: red;
    }
}